<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel Cache</key>
	<string>\com.apple.recovery.boot\kernelcache</string>
	<key>Kernel Flags</key>
	<string>rp=file:///com.apple.recovery.boot/BaseSystem.dmg</string>
</dict>
</plist>
